
[Desktop Entry]
Encoding=UTF-8
Name=Enlace hacia PHP Simple HTML DOM Parser
Type=Link
URL=http://simplehtmldom.sourceforge.net/
Icon=gnome-fs-bookmark
Name[es_ES]=simplehtmldom.url
