/* bandera.css */


#id { width:4em; }
#pais { font-weight:bold; }
#inicio, #fin { width:4em; }
#poblacion, #extension, #costa { width:8em; }
#code0, #code2 { width:4em; }
#bandera,#notas { height:5em; }
#country { color:#066; }
#continente { color:#600; }
#gobierno { color:#006; }
#idiomas { color:#060; }
#capital { color:#606; }
#moneda { color:#660; }

/* list ----------------------------------------- */


#list h2 {
  clear:both;
  float:left;
}


/* pills ---------------------------------------- */

.pills {
  width:1200px;
}

.pills ul {
  width:100%;
  list-style:none;
  margin:.1em;
  padding:.1em;
  float:left;
  background:url(imgs/nav.png);
  border-top:#666 solid 1px;
  border-right:#eee solid 1px;
  border-bottom:#eee solid 1px;
  border-left:#666 solid 1px;
  border-radius:12px; -moz-border-radius:12px; -webkit-border-radius:12px;
  box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;
}

.pills li {
  float:left;
  font-size:1em;
  padding:.1em .3em;
  margin:.1em;
  border-radius:24px; -moz-border-radius:24px; -webkit-border-radius:24px;
  box-shadow:2px 2px 6px #66c; -moz-box-shadow:2px 2px 6px #66c; -webkit-box-shadow:2px 2px 6px #66c;
  background:#ccc url(imgs/bright.png) repeat-x;
  user-select:none; -moz-user-select:none; -khtml-user-select:none;
  cursor:pointer;
}
.pills li:hover {
  box-shadow:0 0 12px #000; -moz-box-shadow:0 0 12px #000; -webkit-box-shadow:0 0 12px #000;
  background-image:none;
}

.pills li.current {
  background:#ffc;
}



/* */


