/* horario.css */

/* fonts ---------------------------------------- */

@font-face {
  font-family:Liberation;
  src:url(fonts/LiberationSans-Regular.ttf);
}
@font-face {
  font-family:Liberation;
  font-weight:bold;
  src:url(fons/LiberationSans-Bold);
}
@font-face {
  font-family:Federation;
  src:url(fonts/Federation.ttf);
}

/* main ----------------------------------------- */

body {
  background-color:#aaa;
  font-size:10pt;
  font-family:Liberation;  
}

#main {
  background:#bbb url(imgs/metal.png);
  position:absolute;  
  top:1px; right:8px; bottom:1px; left:4px; 
}

/* layout --------------------------------------- */

#header, #nav, #grid, #footer {  
  display:block;
  position:absolute;
  width:100%;  
  box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; 
}

#header {
  height:1.5em; 

}
#nav {
  background-image:url(imgs/header.png);
  height:2.5em;
  top:1.5em;  
  font-family:Liberation;  
  padding:4px 1em 0 0;
}
#grid {
  color:#444;
  top:4em;
  bottom:1.5em;
  user-select:none; -moz-user-select:none; -khtml-user-select:none; 
}
#footer {
  padding-top:.1em;
  height:1.5em;
  bottom:0;  
  overflow:hidden;
}

/* header --------------------------------------- */

#header h1 {
  background:url(icons/proinf.png) no-repeat 1px center; 
  padding:0.25em 1em 0 2em;
  margin:1px 0 0 .1em;
  font-family:Federation;
  font-size:.9em;
  letter-spacing:2px;
  /*text-shadow: 1px 1px 2px #999;*/
}
#header h1 a {
  color:#333;
  text-decoration:none;
}
#header h1 a:hover {
  color:#33c;
  text-decoration:underline;
}
#header #skip {
  display:none;
}

/* footer --------------------------------------- */

#waiting {
  display:block;
  float:left;
  width:220px;
  margin-right:1em;
}
#copyright {
  float:right;
  font-size:8pt;
  text-align: right;  
}
#msg {
  float:left;
}

/* nav ------------------------------------------ */

#cmd {
  float:left;
  margin:.3em 0 0 0;
  padding:0;
}
#search {
  float:left;
  margin-left:2em;
}
#opt {
  float:right;
  margin:0; padding:0;
  color:#008;
}

/* nav links ···································· */

#nav ul {
  list-style:none;
}
#nav li {
  display:inline; 
}
#nav a {
  cursor:pointer;
  position:relative;
  padding:5px 10px; /*padding:5px 1em; padding-left:28px;*/  
  background-color:#ddd; background-color:rgba(255,255,255,.3);
  color:#008;
  text-decoration:none;
  border:1px outset #fff;
  /*border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px;
  -moz-border-radius:12px 4px 12px 4px;
  -webkit-border-top-left-radius: 12px;
  -webkit-border-bottom-right-radius: 12px;*/
}
#nav a:hover {
  top:1px; left:1px;
  color:#00f;
  background-color:#ccc;
  text-decoration:none;
  border:1px inset #ccc;
}
#nav a:active {
  background-color:#fff;
}

/* cmd ------------------------------------------ */

a#cmd_prev {
  margin-left:0;
  -moz-border-radius-topleft:32px; -moz-border-radius-bottomleft:0;
  -webkit-border-top-left-radius:32px; -webkit-border-bottom-left-radius:0;
}
a#cmd_next {
  margin-right:1em;
  -moz-border-radius-topright:32px; -moz-border-radius-bottomright:0;
  -webkit-border-top-right-radius:32px; -webkit-border-bottom-right-radius:0;
}
#cmd_prev span {
  padding-left:20px; margin-left:4px;
  background:url(icons/my_prev.png) no-repeat left center;
  /*background-image:url(famfamfam/resultset_previous.png);*/
}
#cmd_next span {
  padding-right:20px;  margin-right:4px;
  background:url(icons/my_next.png) no-repeat right center;
  /*background-image:url(famfamfam/resultset_next.png);*/
}
a#cmd_requery {
  padding:5px 16px; margin:0 1em;
  background:url(icons/my_reload.png) no-repeat center center;  
  background-image:url(famfamfam/arrow_refresh.png);
  background-color:rgba(255,255,255,.3);
  
  -moz-border-radius:12px 4px 12px 4px;
  -webkit-border-top-left-radius: 12px;
  -webkit-border-bottom-right-radius: 12px;
}
#cmd_requery span {
  display:none;
}

/* search --------------------------------------- */

#cmd_search {
}
#input_search {
  width:8em;
}
#tip_search {
  border:1px solid #880;
  background-color:#ffd;
  padding:4px 1em;
  border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px;
}

/* opt ------------------------------------------ */

#opt>li {
  /*background:#ddd;*/
  padding:0 .2em 0 1em;
}
#opt label {
  position:relative;
}
#opt label:hover {
  top:1px; left:1px;
}

/* grid ----------------------------------------- */

#week, #days, #hours, #schedule, #tasks {
  position:absolute;
  list-style:none;
  margin:0; padding:0;
}
#week {
  cursor:default;  
  width:4em; height:3em;
  font-size:1.6em;
  color:#222;
  text-shadow:1px 1px 2px #444;
}
#days {
  cursor:default;
  top:0; right:0; bottom:0; left:4em;
}
#hours {
  cursor:default;
  top:3em; right:0; bottom:0; left:0;  
}
#schedule, #tasks {
  top:3em; right:0; bottom:0; left:4em;
}
#schedule {
  background-color:#eee;
  background-image:url(imgs/schedule.png);
  border-top:#444 solid 1px;
  border-right:#fff solid 1px;
  border-bottom:#fff solid 1px;
  border-left:#444 solid 1px;
}
#tasks {
  font-family:Liberation;
}

/* days ----------------------------------------- */

#days small {
  font-size:8pt;
}
#days strong {
  display:block;
}
#days>li {  
  position:absolute;
  border-right:1px solid #aaa;
  width:14.285714286%; /* 100/7 */
  top:0;bottom:0;
  text-align: center;
}
#days>li:hover {
  background-color:#ffc;
  opacity:.5; /*filter:alpha(opacity=50);*/
}
@media screen {
  #days>li:nth-child(odd) {
    background-image:url(imgs/crystal.png);;
  }
}
#day0 { left:0; }
#day1 { left:14.285714286%; }
#day2 { left:28.571428571%; }
#day3 { left:42.857142857%; }
#day4 { left:57.142857143%; }
#day5 { left:71.428571429%; }
#day6 { left:85.714285714%; }

#days>li.weekend { color:#622; } 
#days>li.current { color:#080; }
#days>li.current:hover {
  background-color:#cfc;
  opacity:.5; /*filter:alpha(opacity=50);*/
}

/* hours ---------------------------------------- */

#hours>li {  
  position:absolute;
  border-bottom:1px dotted #ccc;
  height:4.166666667%; /* 100/24 */
  left:0; right:0;
  text-align:left;
}
#hours>li:hover {
  background-color:#ffc;
  opacity:.5; /*filter:alpha(opacity=50);*/
}
@media screen {
  #hours>li:nth-child(odd) {
    background-image:url(imgs/crystal.png);
  }
}

#hour00 { top:0; }
#hour01 { top:4.166666667%; }
#hour02 { top:8.333333333%; }
#hour03 { top:12.500000000%; }
#hour04 { top:16.666666667%; }
#hour05 { top:20.833333333%; }
#hour06 { top:25.000000000%; }
#hour07 { top:29.166666667%; }
#hour08 { top:33.333333333%; }
#hour09 { top:37.500000000%; }
#hour10 { top:41.666666667%; }
#hour11 { top:45.833333333%; }
#hour12 { top:50.000000000%; }
#hour13 { top:54.166666667%; }
#hour14 { top:58.333333333%; }
#hour15 { top:62.500000000%; }
#hour16 { top:66.666666667%; }
#hour17 { top:70.833333333%; }
#hour18 { top:75.000000000%; }
#hour19 { top:79.166666667%; }
#hour20 { top:83.333333333%; }
#hour21 { top:87.500000000%; }
#hour22 { top:91.666666667%; }
#hour23 { top:95.833333333%; }

#hours>li.night { color:#626; }
#hours>li.current { color:#080; }
#hours>li.current:hover {
  background-color:#cfc;
  opacity:.5; /*filter:alpha(opacity=50);*/
}

/* tasks ---------------------------------------- */

#tasks>li {
  position:relative;
  cursor:pointer;
  /*background-color:#fff;*/
  border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px;
  /*border-bottom-left-radius: 20px; -moz-border-radius-bottomleft: 20px; -webkit-border-bottom-left-radius: 20px; */
  box-shadow:2px 2px 4px #888; -moz-box-shadow:2px 2px 4px #888; -webkit-box-shadow:2px 2px 4px #888;
  background:#ccc url(imgs/light.png) no-repeat ;
  border:1px solid #666;
  color:#000;
  width:14.285714286%; /* 100/7 */
  word-wrap:break-word;    
  overflow:hidden;  
  user-select:none; -moz-user-select:none; -khtml-user-select:none; 
  box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; 
  padding:2px;
}
#tasks>li.vevent:hover {
  box-shadow:1px 1px 6px #000; -moz-box-shadow:1px 1px 6px #000; -webkit-box-shadow:1px 1px 6px #000;
  border:1px solid #000;
  z-index:1000;
}

/* allday ······································· */

#tasks>li.allday {
  cursor:default;
  border-radius:0; -moz-border-radius:0; -webkit-border-radius:0;
  box-shadow:none; -moz-box-shadow:none; -webkit-box-shadow:none;
  background:none;  
  border:none;
  border-right:1px dotted #800;
  opacity:.5;
}
.allday .description {
  color:#800;
}

/* vevent ······································· */

.vevent .summary { 
  font-weight:bold; 
  /*background-image:url(imgs/light.png) no-repeat;*/
}
.vevent .description {
  font-size:9pt;
}
.vevent .dtstart, .vevent .dtend {
  border:none;
  font-size:8pt;
  color:#008;
}  
.vevent .sequence {
  position:absolute;
  right:2px; bottom:0;
  text-align:right;
  color:#080;
}
.vevent .calendar {
  position:absolute;
  right:2px; top:0;
  text-align:right;
  font-size:8pt;
  color:#800;
}

/* debug ---------------------------------------- */

#superdebug {
  top:8em; right:8em; bottom:8em; left:8em; 
  position:absolute;
  background-color:#fff;
  border-radius:12px; -moz-border-radius:12px; -webkit-border-radius:12px;
  box-shadow:2px 2px 8px #666; -moz-box-shadow:2px 2px 8px #666; -webkit-box-shadow:2px 2px 8px #666;
  overflow:auto;  
  opacity:.8;
}
#debug {
  padding:1em;
}

/* classes -------------------------------------- */

.ok {
  color:#060;
  padding-left:20px;
  background:url(icons/my_ok.png) no-repeat 2px 2px;
}
.error {
  color:#800;
  padding-left:20px;
  background:url(icons/my_delete.png) no-repeat 2px 2px;
}

/* print ---------------------------------------- */

@media print {

  @page { 
    size:29.7cm 21cm; 
    margin:1cm; 
  }

  #header, #nav, #footer {  display:none;  }
  #grid { top:0; bottom:0; }

  #schedule {
    background:#fff;
    color:#000;
    font-size:8pt;
  }
  #grid,#tasks>li.vevent {
    background:#ccc;
  }

 /*a[href]:after {
   content:" (Enlace " attr(href) ")";
   display:block; color:blue; text-decoration:none;
 }*/

}

/*  */
