/* login  */

#login {
  font-size:1.2em;
  margin:1em 0 0 2em;
}
#login [type=text]:focus, #login [type=password]:focus {
  border:2px solid #000;
  color:#000;
}

#login fieldset {
  padding-right:5em;
}
#login legend {
}
#login ul {
  list-style:none;
  padding:0; margin:0;
}
#login li {
  margin:.5em 0 0 0;
}
#login ul li label {
  display:block;
  width:10em;
  float:left;
  text-align:right;
  padding-right:.5em;
}
#login ul li label:after {
  content:":";
}
#login ul input {
  font-size:1em;
}
#login input[type=submit] {
  margin:1em 0 0 11em;
  padding:0 1em;
}
#login img, #login span { margin-left:11em; }
#login .options {
  font-size:.9em;
  text-align:right;
}

/* */
