/* logins */

#search {
  margin-bottom:1em;
}

.table td {
  text-align:right;
}

.table tr:not(.header):nth-child(odd) { /* filas impares */
  background-color:#eee;
}
.table tr:not(.header):nth-child(even) { /* filas pares */
  background-color:#dde;
}
.table td {
  padding:2px 8px;
}

.table td:nth-child(1) {
  text-align:left;
}
.table td:nth-child(2), .table td:nth-child(3) {
  color:#303;
}
.table td:nth-child(4) {
  color:#040;
}
.table td:nth-child(5) {
  color:#400;
}
.table td:nth-child(5):after {
  content:"€";
  color:#664;
}


/*.table tr.total
.table tr.subtotal,
.table tr.subsubtotal {
  font-size:8pt;
  background-color:#666;
}*/

/* */
